.forest{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;    
} 
.projects {
    width: 100%;
    background-color: black;

}
.projects h3{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 95px;
    margin-bottom: 32px;
    line-height: 33px;
}
.projects p{
   
    padding-bottom: 40px;
    font-weight: 400;
}



