
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    position: relative;
  }
  
  .gallery-item {
     position: relative;
    overflow: hidden; 
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
   
  }
  
  
  .gallery-item:hover img {
    filter: brightness(70%); 
  }
  
  
  .gallery-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  
  .overlay {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(100%); 
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%; 
    cursor: pointer;
  }
  

  .gallery-item:hover .overlay {
    transform: translateX(-50%) translateY(0); 
    opacity: 1; 
  }
  
  
  .gallery-item:hover::before {
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .gallery-grid {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .gallery-grid {
      grid-template-columns: 1fr; 
    }
  }
  
  
